footer
  .container.text-center
    p.pull-left © The Confidence Alliance. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://www.theimpactfellowship.com/') The Impact Fellowship
      li
        a(href='./contact') Issues
