extends layout

block content
  h1 Activities
  p.lead There are a lot of things you can do to help yourself feel more confident and be more productive. 
  hr
  .row
    .col-sm-6
      .row
        h2 Poop 
        p Hello, I am an imposter, i suck at my job, nice to see that you all suck too. yall suck
          a.btn.btn-default(href='#', role='button') Chat me »
      .row
        h2 Heading
        p haagaah
          a.btn.btn-default(href='#', role='button') View details »
      .row
        h2 Heading
        p haagaah
          a.btn.btn-default(href='#', role='button') View details »
      .row
        h2 Heading
        p haagaah
          a.btn.btn-default(href='#', role='button') View details »
