extends layout
block head


block content
  .container-fluid
    .row
      .ui
        a.btn(href='http://www.jquery2dotnet.com', role='button')
          span.glyphicon.glyphicon-pencil(style='padding-right:4px;')
          | Compose
        a.btn.btn-danger(href='http://www.jquery2dotnet.com', role='button')
          span.glyphicon.glyphicon-inbox(style='padding-right:4px;')
          | Inbox
        a.btn.btn-danger(href='http://www.jquery2dotnet.com', role='button')
          span.glyphicon.glyphicon-send(style='padding-right:4px;')
          | Send
      .panel.panel-default.widget
        .panel-heading
          span-comment
          h3.panel-title
            | Day 1 Challenge
        .panel-body
          ul.list-group
            li.list-group-item
              .row
                .col-xs-2.col-md-1
                  img.img-circle.img-responsive(src='https://image.flaticon.com/icons/svg/206/206118.svg', alt='')
                .col-xs-10.col-md-11
                  div
                  .comment-text
                    | You have the opportunity right this very instant to overcome your impostor syndrome. <br />
                    | Write in the box below <em> one thing you’ve avoided because you feel like a fraud. </em> <br />
                    | This will stay completely anonymous. <br />
                    | Maybe you haven’t started that blog because you feel that you couldn’t do it as well as the people already blogging about a topic. <br />
                    | Maybe you haven’t started your business because you don’t think you’re an “entrepreneur”. <br />
                    | Maybe you haven’t talked to that pretty girl/guy. <br />
                    | There are all sorts of thing. <br /> <br />
                    | BONUS ROUND: Do something about it! Tell a friend about it. Writing this itself will be a huge step for sure. <br />
                    | It’ll be even more huge to take the thing head on.
                .form-group
                  label(class='col-sm-2 control-label', for='message') Get Started!
                  .col-sm-8
                    textarea.form-control(name='message', id='message', rows='7')
                  a.btn.btn-sm.btn-hover.btn-primary(href='#')
                    span.share-alt(style='padding-right:3px;')
                    | Submit
                  a.btn.btn-sm.btn-hover.btn-danger(href='./activity2')
                    span-remove(style='padding-right:3px;')
                    | Go To Day 2 Challenge
