extends layout
block head
  link(rel='stylesheet', href='/css/chat.css')
block content
  
    h2 Chat Messages
    .container
      img(src='https://www.w3schools.com/w3images/bandmember.jpg', alt='Avatar', style='width:100%;')
      p Hello. How are you today?
      span.time-right 11:00
    .container.darker
      img.right(src='https://www.w3schools.com/w3images/avatar_g2.jpg', alt='Avatar', style='width:100%;')
      p Hey! I'm fine. Thanks for asking!
      span.time-left 11:01
    .container
      img(src='https://www.w3schools.com/w3images/bandmember.jpg', alt='Avatar', style='width:100%;')
      p Sweet! So, what do you wanna do today?
      span.time-right 11:02
    .container.darker
      img.right(src='https://www.w3schools.com/w3images/avatar_g2.jpg', alt='Avatar', style='width:100%;')
      p Nah, I dunno. Play soccer.. or learn more coding perhaps?
      span.time-left 11:05


  
