extends layout

block head
  //- meta(name='viewport', content='width=device-width, initial-scale=1')
  style.
    @import 'main.scss'
    .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 100px;
    margin: 10px 0;
    }
    .darker {
    border-color: #ccc;
    background-color: #ddd;
    }
    .container::after {
    content: "";
    clear: both;
    display: table;
    }
    .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    }
    .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
    }
    .time-right {
    float: right;
    color: #aaa;
    }
    .time-left {
    float: left;
    color: #999;
    }

block content
  h1 Chat
  h3       Your convo with msry4n
  .container-fluid
    img(src='https://www.w3schools.com/w3images/bandmember.jpg', alt='Avatar', style='width:100%;')
    p Hey! I saw your post about trouble you have in the workplace because you feel you always have to work harder than your male co-workers. I wonder if imposter syndrome is so prevalent in tech bc men are so willing to talk confidently about stuff they don't really know about and women often are not as willing. 
    span.time-right 11:06
  .container-fluid.darker
    img.right(src='https://www.w3schools.com/w3images/avatar_g2.jpg', alt='Avatar', style='width:100%;')
    p That's super interesting. The worst part of imposter syndrome, to me, is that I see it affect so many valuable people, especially those in the tech scene. Considering the negative social trends associated with tech (i.e. silicon valley culture) at the moment, finding a way to combat imposter syndrome would be extremely valuable.
    span.time-left 11:08
  .container-fluid
    img(src='https://www.w3schools.com/w3images/bandmember.jpg', alt='Avatar', style='width:100%;')
    p As I get further in my master's degree in CS I can see how full of it some men are and how much they can get away with it.
    span.time-right 11:09
  .container-fluid.darker
    img.right(src='https://www.w3schools.com/w3images/avatar_g2.jpg', alt='Avatar', style='width:100%;')
    p I had done some research and found out that men and women are impacted in roughly the same numbers. Do you think these feelings of inadequacy are peculiar to the tech sphere or might even extend to things like relationships?
    span.time-left 11:11
  br
  form.form-inline
    .form-group.mb-4
      label.sr-only(for='Message') Message
      input#inlineFormInput.form-control.mb-4(type='text', placeholder='Message')
    button.btn.btn-primary.mb-2(type='submit') Send
  
