extends layout

block content
  h1 Welcome to Confident.ly
  p.lead You're a fraud and you're gonna get found out!
  p.sub More and more people in our "social media" age are reporting persistent fear of being exposed as frauds and inability to internalize their accomplishments and successes.
  p.sub In fact, in our survey of 167 people, 101 of them (61%) reported feeling that the people around them were more prepared for what they were doing, and 106 (64%) said those around them were more intelligent than they were. 
  p.sub When you factor in 52% admitting to just pretending they were good at what they were doing and 49% attributing their success to just luck, you get a picture of why we decided to do something about what the experts call the "Imposter Phenomenon."
  p.sub Share your story below and check out the tools we have to help you take this on!
  hr
  .row
    .col-sm-9
      .row
        h3 mcycl3
        p I think it’s hard to deal with this because when someone like me talks to me about how to deal with these kinds of thoughts, all i can think is that they don’t understand. They’re better than I am and they don’t understand that i’m not good at things like they are i guess. so it’s kind of a cycle where nothing really helps because it all feeds into my belief that i’m a fake and everyone else is better. <br/> 
          a.btn.btn-default(href='/chat', role='button') Let's Talk »
      .row
        h3 ewats90 
        p I'm a woman actor from the UK in my late twenties. When I was younger, I just did it. I just acted. It was just there. So now when I receive recognition for my acting, I feel incredibly uncomfortable. I tend to turn in on myself. I feel like an impostor. It was just something I did.  <br/>
          a.btn.btn-default(href='/chat', role='button') Let's Talk! »
      .row
        h3 adama7
        p Sometimes it feels like I’m doing really well when I compare myself to others at my school, but other times, when comparing myself against people across the country, I feel a sense of fakeness because I don’t have the same number of accomplishments or I haven’t done as much for the same level of recognition as them.  <br/>
          a.btn.btn-default(href='/chat', role='button') Let's Talk »
      .row
        h3 99probs
        p Years ago I might have felt more strongly like an imposter. When taking on a new task or responsibility I feel underprepared vs confident. Is there a time/age/experience dimension to this syndrome, or would a sufferer be defined as someone who always and over time exhibits these feelings?  <br/>
          a.btn.btn-default(href='/chat', role='button') Let's Talk »
      .row
        h3 kat7
        p As someone who was in an emotionally abusive relationship, I had my fair share of self-doubt and self-hate for a while. The aftermath of ending that relationship and having to rediscover my self worth kind of fixed the worst of my imposter syndrome thoughts however I do still doubt myself sometimes.  <br/>
          a.btn.btn-default(href='/chat', role='button') Let's Talk »
